html
{
    height:100%;
}

body 
{
    padding:0px;
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    /*height:100%;*/
}

.PatternContainerContainer
{
    margin: 0 auto;
    width:1000px; 
    overflow-x:hidden;
}

.PatternContainer
{
    text-align: center;  /* Align to the middle so we have some whitespace either side */
}

.PatternRow
{
    white-space:no-wrap;
    width: 50px;
    /*
    height: 0;
    overflow: hidden;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: 7px;
    text-align: right;*/
}

.PatternChannel
{
    white-space:no-wrap;
    height: 16px;
    overflow: hidden;
    /*width:120px;
    height: 0;
    overflow: hidden;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: 7px;*/
}

#modalMask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
  top: 0px;
  left: 0px;
}
   
#modalContainer {
  position:absolute;
  width:700px;
  height:400px;
  display:none;
  z-index:9999;
}

.Ribbon
{
    width: 400px;
    margin: 0px auto;
}

.RibbonNav
{
    width: 90px;
}

#modalDialog {
  width:700px; 
  height:350px;
  padding:5px;
}